{% extends "base.html" %}
{% load socialaccount %}

{% block title %}로그인{% endblock %}
{% block content %}
<div class="row justify-content-center">
  <div class="col-12 col-sm-8 col-md-6 col-lg-4">
    <div class="card shadow-sm">
      <div class="card-body">
        <h3 class="mb-3">로그인</h3>

        <form method="post" action="{% url 'account_login' %}">
          {% csrf_token %}
          {{ form.as_p }}
          <button type="submit" class="btn btn-primary w-100">로그인</button>
        </form>

        <div class="mt-3 d-flex justify-content-between">
          <a href="{% url 'account_signup' %}">회원가입</a>
          <a href="{% url 'account_reset_password' %}">비밀번호 재설정</a>
        </div>

        <hr class="my-4">
        <h6 class="text-center mb-3">소셜 로그인</h6>
        <div class="d-grid gap-2">
          <a class="btn btn-outline-dark" href="{% provider_login_url 'google' %}">Google로 계속하기</a>
          <a class="btn btn-success" href="{% provider_login_url 'naver' %}">Naver로 계속하기</a>
          <a class="btn btn-yellow" href="{% provider_login_url 'kakao' %}">Kakao로 계속하기</a>
         
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
